      <tr>
        <th scope="col">Status</th>
        <th scope="col">Name</th>
        <th scope="col">Last Build</th>
        <th scope="col"></th>
      </tr>
      <% @projects.each do |project| %>
      <tr>
        <td class="fs-4"><div class="col"><i class="bi <%= @status[project.last_build.status] unless project.builds.empty? %>"></div></i></td>
        <td class="fs-5 align-middle"><a class="col" href="/<%= project.name %>"><%= project.name %></a></td>
        <td class="fs-5 align-middle"><div class="col"><%= project.last_build.timestamp unless project.builds.empty? %></div></td>
        <td class="fs-4 col-2">
          <div class="input-group col">
            <input id="branch" type="text" class="form-control" aria-label="branch" placeholder="branch">
            <button onclick="build('<%= project.settings['trigger'] %>')" type="button" class="btn btn-outline-success">Build</button>
          </div>
        </td>
      </tr>
      <% end %>
