<%= erb :header %>
  <script type="text/javascript">
let buildsID;
let messageID;
let autoScroll = true;

function getMessage(project, build, step) {
  $.ajax({
    type: "GET",
    url: project + "/" + build + "/" + step + "/message",
    ifModified: true,
    success: function (result) {
      $('#code' + build + step).html(result);
      if (autoScroll) {
        modal = $('#modal' + build + step + ' .modal-body');
        modal.scrollTop(modal.get(0).scrollHeight);
      }
    }
  });
};

function deleteBuilds() {
  $.ajax({
    type: "DELETE",
    url: "/<%= @project.name %>/builds",
    success: function (result) {
      location.reload();
    },
    error: function (result, status) {
      $("#delete-error").show(); 
    }
  });
};

function setScroll(element) {
  if (autoScroll) {
    autoScroll = false;
    element.textContent = 'Enable Auto Scroll';
  } else {
    autoScroll = true;
    element.textContent = 'Disable Auto Scroll';
  }
};

function setStatus(project, build, step, status) {
  $.ajax({
    type: "PUT",
    url: project + "/" + build + "/" + step + "/status",
    data: { "status": status }
  });
};

function getBuilds() {
  $.ajax({
    type: "GET",
    url: "/<%= @project.name %>/builds",
    ifModified: true,
    success: function (result) {
      $('#builds').html(result);

      $('.modal').on('show.bs.modal', function(event) {
        clearInterval(buildsID);
        var button = $(event.relatedTarget);
        getMessage(button.data('project'), button.data('build'), button.data('step'));
        messageID = setInterval(getMessage, 2000, button.data('project'), button.data('build'), button.data('step'));
      });

      $('.modal').on('hidden.bs.modal', function(event) {
        clearInterval(messageID);
        buildsID = setInterval(getBuilds, 5000);
      });

      $('#confirm button').on('click', function() {
        var button = $(this);
        setStatus(button.data('project'), button.data('build'), button.data('step'), button.data('status'));
        $('#confirm button').hide();
      });
    }
  });
};

$(document).ready(function() {
  getBuilds();
  buildsID = setInterval(getBuilds, 5000);
});
  </script>
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <i class="bi bi-box me-3" width="48" height="38"></i>
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1"><%= @project.name %></h1>
    </div>
    <div class="d-flex ms-auto">
      <button type="button" class="btn btn-outline-light" onclick="deleteBuilds()">cleanup</button>
    </div>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <table id="builds" class="table">
    </table>
  </div>
<%= erb :footer %>
